[submodule "third_party/grpc"]
	path = third_party/grpc
	url = https://github.com/grpc/grpc.git
[submodule "third_party/abseil-cpp"]
	path = third_party/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "third_party/google-cloud-cpp"]
	path = third_party/google-cloud-cpp
	url = https://github.com/googleapis/google-cloud-cpp.git
